// Override default variables before the import
$font-size-base: 1.1875rem;
$blue: #002949;
$link-color: #007bff;

$nav-link-padding-y: 1rem;
$headings-margin-bottom: 2rem;
$paragraph-margin-bottom: 2rem;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 800px,
  xl: 800px
);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap/scss/variables.scss';