// Override default variables before the import
$font-size-base: 1.1875rem;
$blue: #002949;
$link-color: #007bff;

$nav-link-padding-y: 1rem;
$headings-margin-bottom: 2rem;
$paragraph-margin-bottom: 2rem;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 800px,
  xl: 800px
);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap/scss/variables.scss';

$breadcrumb-completed-color: $secondary;
$breadcrumb-active-color: $success;
$breadcrumb-hover-color: $primary;
$breadcrumb-default-color: $light;

nav[aria-label="breadcrumb"] {
  width: 100%;
}

.breadcrumb {
  padding: 0px;
  background: #D4D4D4;
  list-style: none;
  overflow: hidden;
  width: 100%;
  margin-bottom: 2rem;
}

.breadcrumb > li + li:before {
  padding: 0;
}

.breadcrumb li {
  float: left;
  display: flex;
  align-items: center;
}

.breadcrumb li.current a, .breadcrumb li.current span {
  background: $breadcrumb-active-color;
}

.breadcrumb li.completed a, .breadcrumb li.completed span {
  background: $breadcrumb-completed-color;
}

.breadcrumb li.current a:after, .breadcrumb li.current span:after {
  border-left: 30px solid $breadcrumb-active-color;
}

.breadcrumb li.completed a:after, .breadcrumb li.completed span:after {
  border-left: 30px solid $breadcrumb-completed-color;
}

.breadcrumb li a, .breadcrumb li span {
  color: white;
  text-decoration: none;
  padding: 10px 0 10px 45px;
  position: relative;
  display: block;
  float: left;
}

.breadcrumb li a:after, .breadcrumb li span:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 30px solid hsla(0, 0%, 83%, 1);
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 100%;
  z-index: 2;
}

.breadcrumb li a:before, .breadcrumb li span:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 30px solid white;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  margin-left: 1px;
  left: 100%;
  z-index: 1;
}

.breadcrumb li:first-child a, .breadcrumb li:first-child span {
  padding-left: 30px;
}

.breadcrumb li a:not(.active):hover, .breadcrumb li span:not(.active):hover {
  background: $breadcrumb-hover-color;
}

.breadcrumb li a:not(.active):hover:after, .breadcrumb li span:not(.active):hover:after {
  border-left-color: $breadcrumb-hover-color !important;
} 